{{!-- {{! Search Customer Code for Future Use}}
<html>
        <head>
            <link rel="stylesheet" href="/stylesheets/style.css" />
            <script src="search-customers.js"></script>
        </head>
    <body>
         <div class="search-wrapper">
            <label for="search">Search Customers</label>
            <input type="search" id="search" data-search>
        </div>
        <div class="user-cards" data-user-cards-container></div>
        <template data-user-template>
            <div class="card">
                <div class="header" data-header></div>
                <div class="body" data-body></div>
            </div>
        </template>
    </body>
   </html> --}}


{{! All Customers}}
<h2>All Customers</h2>
<br>
<div class="container">
<div class="row">
<table>
    <thead>
        <tr>
            <th class="col-sm-2">
                First Name
            </th>
            <th class="col-sm-2">
                Last Name
            </th>
             <th class="col-sm-2">
                Email
            </th>
             <th class="col-sm-4">
                Phone Number
            </th>
             <th class="col-sm-2">
                Is Customer
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    </div>
    </div>

    <div class="container">
    <div class="row">
    <tbody>
        {{#each customers}}
        <tr>
            <td class="col-sm-2">
                {{first_name}}
            </td>
            <td class="col-sm-2">
                {{last_name}}
            </td>
             <td class="col-sm-2">
                {{email}}
            </td>
             <td class="col-sm-4">
                {{phone_number}}
            </td>
             <td class="col-sm-2">
                {{is_customer}}
            </td>
            <td>
                <button class="delete-button" data-id="{{id}}">Delete</button>
            </td>
        </tr>
        {{/each}}
        
    </tbody>
</table>
</div>
</div>

<script src="/javascript/logout.js"></script>
<script src="/javascript/delete-customers.js"></script>
<script src="/javascript/customer.js"></script>
<script src="/api/customer-routes.js"></script>