<input id="searchbar" onkeyup="search_customer()" type="text" name="search" placeholder="Search">

<table>
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Is Customer
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        <tr>
            <td>
                {{first_name}}
            </td>
            <td>
                {{last_name}}
            </td>
            <td>
                {{email}}
            </td>
            <td>
                {{phone_number}}
            </td>
            <td>
                {{is_customer}}
            </td>
        </tr>
        {{/each}}

    </tbody>
</table>

<!-- linking javascript -->
<script src="/javascript/search"></script>

<script src="/javascript/logout.js"></script>